@import "variables";
@import "fonts";
@import "reset";
@import "mixin";
@import "header";
@import "footer";
.ibg{
    background-position: center;
    padding: 0 0 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.ibg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    }
    /*-----------------------------------*/
    *{
      box-sizing: border-box;
      font-family: $mainfont;
      font-size: 16px;
      color: #5E6282;
      font-weight: 500;
    }
    .container{
      max-width: $maxWidthContainer + px;
      margin: 0 auto;
    }

 /*========================================================================*/
.title{
  font-family: 'Volkhov';
  font-weight: 700;
  font-size: 50px;
  line-height: normal;
  letter-spacing: normal;
  color: #14183E;
  @media (max-width:$md3) {
    text-align: center;
    
  }
}
.button{
  padding: 18px 25px;
  color: white;
  font-family: "Open Sans";
  font-weight: 500;
  @include adaptive-value ("font-size", 18 , 35, 1);
  border-radius: 10px;
  &:hover{
    background-color: $maincolor;
    transition:all 0.3s ease 0.3s;
  }
}
.travel{
  background-image: url("@img/plane.svg");
  background-repeat: no-repeat;
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__block{
    flex: 1 0 50%;
  }
  &__img.ibg{
    padding: 0% 0% 67% 0%;
  }
  &__img{
    width:100% ;
  }
  @media (max-width:$md3) {
    &__wrapper{
      flex-direction: column;
      justify-content: center;
    }
    &__img.ibg{
      padding: 0% 0% 100% 0%;
    }
  }
}
.block-travel{
  padding-left: 15px;
  &__tagline{
    font-size: 20px;
    font-weight: 700;
    color:$maincolor;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__title{
    @include adaptive-value ("font-size", 84 , 50, 1);
    letter-spacing: -3.36px;
    line-height: 106%;
    color: var(--1st, #181E4B);
  }
  &__text{
    margin: 30px 0;
    max-width: 477px;
  }
  &__actions{
    display: flex;
    align-items: center;
  }
  &__button{
    background-color: #F1A501;
    margin-right: 45px;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  }
  &__play{
    display: flex;
    align-items: center;
    .play{
      @include adaptive-value ("width", 52 , 60, 1);
      @include adaptive-value ("height", 52 , 60, 1);
      border-radius: 50%;
      background-color: $maincolor;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-right: 15px;
      &:hover{
        background-color: #F1A501;
        transition: all 0.3s ease 0.3s;
      }

    }
  }
  @media (max-width:$md3) {
    text-align: center;
    &__tagline{
      text-align: center;
    }
    &__text{
      max-width: none;
      margin: 15px 0;
    }
    &__actions{
      justify-content: center;
    }
  }
  @media (max-width:$md4) {
    &__actions{
      flex-direction: column;
      
    }
    &__button{
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
/*====================================================*/
.headline{
  color: #5E6282;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services{
  @include adaptive-value ("padding-bottom", 120 , 50, 1);
  &__wrapper{  
  }
  &__title{
    text-align: center;
    @include adaptive-value ("margin-bottom", 60 , 40, 1);
  }
}
.items-services{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
  gap: 15px;
  &__item{
    position: relative;
    border-radius: 36px;
    height: 314px;
    z-index: 2;
    &:hover{
      transition: all 0.3s ease 0.3s;
      background: #FFF;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
      &::before{
        display: block;
        transition: all 0.3s ease 0.3s;

      }
    }
  }
  &__icon{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    color: #1E1D4C;
    margin-bottom: 15px;
  } 
  &__inner{
    padding: 50px;
    background-color: #fff;
    position: relative;
    z-index: 4;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // height: 314px;

  }
}
@media (any-hover:hover){
  .items-services__item::before{
    content: "";
    display: none;  
    position: absolute;
    z-index: 1;
    bottom: -24%;
    left: -15%;
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px 0px;
    background: $maincolor;
    
  }
}
/*====================================================*/
.destinations{
  margin-bottom: 100px;
  &__headline{
    text-transform: none;
  }
  &__title{
    text-align: center;
  }
}
.items-destinations{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 36px;
  &__item{
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__img{
    width: 100%;
    &.ibg{
      padding: 0 0 91% 0;
    }
  }
  &__body{
    padding: 25px 20px 40px 20px;
    width: 100%;
    @include adaptive-value ("font-size", 18 , 24, 1);

  }
  &--line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__city:hover{
    color: $maincolor;
    transition: all 0.3s ease 0.3s;
  }
}
/*----------------------------------------------------------*/
.booking{
  @include adaptive-value ("padding-bottom", 200 , 50, 1);
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__trip{
    flex: 0 1 57%;
  }
  &__block{
    position: relative;
  }
}
.trip{
  &__headline{
    text-align: left;
    text-transform: none;
  }
  &__title{
    margin-bottom: 30px;
  }
}
.icon-1{
  background-color: rgba(240, 187, 31, 1);
}
.icon-2{
  background-color: $maincolor;
}
.icon-3{
  background-color: rgba(0, 99, 128, 1);
}
.card-trip{
  display: flex;
  align-items: center;
  &:not(:last-child){
    @include adaptive-value ("margin-bottom", 48 , 20, 1);
  }
  &__body{
    max-width: 350px;
    @include adaptive-value ("font-size", 16 , 24, 1);
  }
  &__icon{
    width: 47px;
    height: 47px;
    border-radius: 6px;
    margin-right: 10px;
  }
  &__title{
    font-weight: 700;
    margin-bottom: 4px;
    }
    @media (max-width:$md3) {
      &__body{
        max-width: none;
      }      
    }
}
.book{
  padding: 20px;
  border-radius: 26px;
  background:  #FFF;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  &__title{
    margin-top: 26px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 125%;
    color: #080809;
  }
  &__description{
        color: #84829A;

    .date{
      margin-right: 13px;
      &::after{
        content: "|";
        padding-left: 3px;
      }
    }
  }
  &__active{
    display: flex;
    align-items: center;
  }
}
.active{
  background-color:#F5F5F5;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px;
  &:not(:last-child){
    margin-right: 18px;
  }
  &--leaf:hover{
    transition: all 0.3s ease 0.3s;
    background-color: rgba(240, 187, 31, 1);
  }
  &--map:hover{
    transition: all 0.3s ease 0.3s;
    background-color:$maincolor;
  }
  &--plane:hover{
    transition: all 0.3s ease 0.3s;
    background-color: rgba(0, 99, 128, 1) ;
  }
}
.people{
  display: flex;
  align-items: center;
  &__text{
    flex: 1 1 auto;
  }
}
.people--build{
  margin-right: 15px;
}
.people__heart :hover{
  background-color: #8A79DF;
}
.ongoing{
  position: absolute;
  bottom: 52px;
  right: -115px;
  display: flex;
  align-items: start;
  padding: 7px 25px 22px 17px;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  &__img img{
    border-radius: 50%;
  }
  &__name{
    color: #84829A;
    font-size: 14px;
  }
  &__title{
    color: #080809;
    font-size: 18px;
    margin: 6px 0 14px;
  }
  &__body{
    margin-left: 10px;
    max-width: 156px;
  }
}

.complite__loading {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 1);

  .loading{
    background-color: #8A79DF;
    width: 40%;
    height: 100%;
  }
}
.complite__persent {
  margin-bottom: 10px;
  color: #080809;
  span{
  color: #8A79DF;}
}
@media (max-width:$md2){
  .booking{
    &__wrapper{
      flex-direction: column;
    }
  }
  .trip__headline{
    text-align: center;
  }
  .booking__block{
    margin-top: 30px;
  }
}
@media (max-width:$md3){
  .ongoing{
    position: static;
  }
}
/*+++++++++++++++++++++++++++++++++++++++*/
.sponsor{
  padding: 50px 0;
  &__wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__label{
    &:not(:last-child){
      margin-right: 10px;
    }
  }
}
/*=====================================*/
.subscribe{
  @include adaptive-value ("padding-bottom", 150 , 50, 1);
  &__wrapper{
    border-radius: 20px 129px 20px 20px;
    background:  #dfd7f9a0;
    @include adaptive-value ("padding-top", 75 , 40, 1);
    @include adaptive-value ("padding-bottom", 75 , 40, 1);
  }
  &__title{
    text-align: center;
    color: #5E6282;
    font-size: 33px;
    font-weight: 600;
    line-height: 164%;
    @include adaptive-value ("margin-bottom", 65 , 35, 1);
  }
  &__block{
  }
  &__btn{
    background-color: $maincolor;
    border: none;
    height: 100%;
    &:hover{
      background-color: rgba(138, 121, 223, 1);
    }
  }
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    input{
      flex: 0 1 37%;
      padding: 25px 10px 25px 66px;
      border-radius: 10px;
      height: 100%;
      background-image: url("@img/mail.svg");
      background-repeat: no-repeat;
      background-position-x: 30px;
      background-position-y: 50%;
      @include adaptive-value ("font-size", 18 , 35, 1);
    }
  }
  @media (max-width:$md3) {
    &__wrapper{
      border-radius: 0;
    }
    form{
      flex-direction: column;
      align-items: normal;
      input{
        flex: 1 1 100%;
      }
    }
    
  }
}
/*==========================================================*/
