@import "variables";
@import "fonts";
@import "reset";
.ibg{
    background-position: center;
    padding: 0 0 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.ibg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    }
    /*-----------------------------------*/
//Адаптивна властивість
@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
       //Тільки якщо менше контейнера
       #{$property}: $startSize + px;
       @media (max-width: #{$maxWidthContainer + px}) {
          #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
       }
    } @else if $type==2 {
       //Тільки якщо більше контейнера
       #{$property}: $startSize + px;
       @media (min-width: #{$maxWidthContainer + px}) {
          #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
       }
 
    } @else {
       //Завжди
       #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
 }
 /*========================================================================*/

 .text{
    @include adaptive-value("font-size",50 ,20 ,1 );
}
p{
   border: 1px solid black;
   @include adaptive-value("padding-top",50 ,0 ,1 );
}

 /*========================================================================*/ 
  //spoller
 .block{
   margin: 0px 0 30px 0;
 }
 .block__item{
   margin: 0px 0 10px 0;
 }
 .block__title{
   width: 100%;
   text-align-last: left;
   font-size: 18px;
   background-color: transparent;
   color: aliceblue;
   padding: 10px;
   height: 1px;
   position: relative;
 }
 .block._init .block__title{
   cursor: pointer;
   padding: 10px 40px 10px 10px;
}
.block._init .block__title::after,
.block._init .block__title::before{
   content: '';
   width: 20px;
   height: 1px;
   background-color: #fff;
   position: absolute;
   right: 10px;
   top: 20px;
   transition: transform 0.3s ease 0s;
}
.block._init .block__title::after{
   transform: rotate(-90deg);
}
.block._init .block__title._active::after{
   transform: rotate(0deg);
}
.block__text{
   padding: 0 10px 10px;
   line-height: 130%;
}
.block_1 .block__item{
   background-color: purple;

}
.block_2 .block__item{
   background-color: red;
   
}
.block_3 .block__item{
   background-color: greenyellow;
   
} 
 /*========================================================================*/